body {
  background-color: rgb(239, 242, 248);
}

.cars-list {
  .title {
    text-align: center;
    margin: 0px auto;
    width: 600px;
    h1 {
    background-color: rgb(50, 57, 68);
    font-weight: bolder;
    font-size: 30px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 15px;
    }
  }
  a {
    text-decoration: none;
    color: rgb(50, 57, 68);
    font-weight: 500;
  }
  li {
    width: 600px;
    i {
      font-size: 20px;
      margin-right: 5px;
      color: rgb(50, 57, 68);
    }
  }
}

.list-group-item {
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
