<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/photos/woman-driver-portrait-at-car-interior-picture-id1052666472?b=1&k=20&m=1052666472&s=170667a&w=0&h=nNbtghmF1JHoajrI-D9rWKFEXO4LfLL0ikpYdStHJEY=);">
  <div class="container">
    <h1>Don't have a car and need one occasionnally? </h1>
    <p>Rent a car easily with RentACar</p>
    <div class="link-btn">
      <%= link_to "Find a car", cars_path %>
    </div>
  </div>
</div>
