<div class="container cars-list mt-4">
  <div class="title">
    <h1>Find a car</h1>
  </div>
  <ul class="list-group mt-4">
    <% @cars.each do |car| %>
        <%= link_to car_path(car) do %>
          <li class="list-group-item list-group-item-action mb-2">
            <i class="fas fa-car-alt"></i> <strong><%= car.brand %> <%= car.model %></strong>
          </li>
        <% end %>
    <% end %>
  </ul>
</div>
