<%# <div class="container">
  <div class="title">
    <h1>Find a car</h1>
  </div>

  <div class="card-container">
    <% @cars.each do |car| %>
      <%# <% link_to car_path(car) do %>
        <%# <div class="cards">
          <div class="card-title">
            <i class="fas fa-car"></i>
            <h2><%= car.brand %> 
